{% extends "base.html" %}

{% block title %}Unser Team - Behringer & Partner{% endblock %}

{% block content %}
<main>
    <section class="page-header-section">
        <div class="container">
            <div id="breadcrumbs" class="breadcrumbs">
                <a href="{{ url_for('index') }}#company" title="Unternehmen">Unternehmen</a>
                <span class="arrow">></span>
                <span>Unser Team</span>
            </div>
            <h1 class="page-title">Unser Team</h1>
        </div>
    </section>

    <section class="section team-section">
        <div class="container">
            <p class="team-intro-text">IHRE ANSPRECHPARTNER</p>
            <div class="team-grid">
                
                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/hermann.webp') }}" alt="Hermann Behringer">
                    </div>
                    <div class="team-member-info">
                        <h3>Hermann Behringer – Dipl.-Ing. (FH)</h3>
                        <p>Beratender Ingenieur<br>Bauingenieur<br>Gesellschafter</p>
                        <p><a href="mailto:h.behringer@ib-behringer.de">h.behringer@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/robert.webp') }}" alt="Robert Behringer">
                    </div>
                    <div class="team-member-info">
                        <h3>Robert Behringer – Dipl.-Ing. (FH)</h3>
                        <p>Bauingenieur<br>Gesellschafter / Projektabwicklung</p>
                        <p><a href="mailto:r.behringer@ib-behringer.de">r.behringer@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                         <img loading="lazy" src="{{ url_for('static', filename='images/team/reindl.webp') }}" alt="Alexander Reindl">
                    </div>
                    <div class="team-member-info">
                        <h3>Alexander Reindl – Dipl.-Ing. (FH)</h3>
                        <p>Bauingenieur<br>Gesellschafter / Projektabwicklung</p>
                        <p><a href="mailto:reindl@ib-behringer.de">reindl@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/sagstetter.webp') }}" alt="Robert Sagstetter">
                    </div>
                    <div class="team-member-info">
                        <h3>Robert Sagstetter</h3>
                        <p>Staatlich geprüfter Bautechniker<br>Gesellschafter / Projektabwicklung</p>
                        <p><a href="mailto:sagstetter@ib-behringer.de">sagstetter@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/brueckner.webp') }}" alt="Andreas Brückner-Bardroff">
                    </div>
                    <div class="team-member-info">
                        <h3>Andreas Brückner-Bardroff – Dipl.-Ing. (FH)</h3>
                        <p>Vermessungsingenieur<br>Vermessung</p>
                        <p><a href="mailto:a.brueckner@ib-behringer.de">a.brueckner@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                       <img loading="lazy" src="{{ url_for('static', filename='images/team/hinkofer.webp') }}" alt="Marina Hinkofer">
                    </div>
                    <div class="team-member-info">
                        <h3>Marina Hinkofer – M.Eng.</h3>
                        <p>Bauingenieurin<br>Projektabwicklung</p>
                        <p><a href="mailto:m.hinkofer@ib-behringer.de">m.hinkofer@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                       <img loading="lazy" src="{{ url_for('static', filename='images/team/ortler.webp') }}" alt="Stephanie Ortler">
                    </div>
                    <div class="team-member-info">
                        <h3>Stephanie Ortler – B.Eng.</h3>
                        <p>Bauingenieurin<br>Projektabwicklung</p>
                        <p><a href="mailto:s.ortler@ib-behringer.de">s.ortler@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/gebler.webp') }}" alt="Martin Gebler">
                    </div>
                    <div class="team-member-info">
                       <h3>Martin Gebler – B.Eng.</h3>
                        <p>Bauingenieur<br>Projektabwicklung</p>
                        <p><a href="mailto:martin.gebler@ib-behringer.de">martin.gebler@ib-behringer.de</a></p>
                    </div>
                </div>
                
                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/matthes.webp') }}" alt="Frank Matthes">
                    </div>
                    <div class="team-member-info">
                       <h3>Frank Matthes – Dipl. Ing.</h3>
                        <p>Bauingenieur<br>Projektabwicklung</p>
                        <p><a href="mailto:f.matthes@ib-behringer.de">f.matthes@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/dobler.webp') }}" alt="Karl Dobler">
                    </div>
                    <div class="team-member-info">
                       <h3>Karl Dobler</h3>
                        <p>Straßenbaupolier<br>Bauleitung</p>
                        <p><a href="mailto:k.dobler@ib-behringer.de">k.dobler@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/gamperer.webp') }}" alt="Stefan Gamperer">
                    </div>
                    <div class="team-member-info">
                       <h3>Stefan Gamperer – Dipl. Ing.</h3>
                        <p>Landschaftsplaner, Akad. Geoinformatiker<br>GIS, TV-Befahrungen, hydraulische Berechnungen</p>
                        <p><a href="mailto:stefan.gamperer@ib-behringer.de">stefan.gamperer@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/hoelzlhammer.webp') }}" alt="Andreas Hölzlhammer">
                    </div>
                    <div class="team-member-info">
                       <h3>Andreas Hölzlhammer – B.Eng.</h3>
                        <p>Bauingenieur<br>Projektabwicklung Siedlungswasserwirtschaft, Sanierungsplanung, TV-Befahrungen</p>
                        <p><a href="mailto:a.hoelzlhammer@ib-behringer.de">a.hoelzlhammer@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/urgibl.webp') }}" alt="Christina Urgibl">
                    </div>
                    <div class="team-member-info">
                       <h3>Christina Urgibl – M.Sc.</h3>
                        <p>Bauingenieurin<br>Projektabwicklung</p>
                        <p><a href="mailto:c.urgibl@ib-behringer.de">c.urgibl@ib-behringer.de</a></p>
                    </div>
                </div>
                
                <div class="team-member">
                    <div class="team-member-image-wrapper">
                       <img loading="lazy" src="{{ url_for('static', filename='images/team/marxbauer.webp') }}" alt="Maximilian Marxbauer">
                    </div>
                    <div class="team-member-info">
                       <h3>Maximilian Marxbauer</h3>
                        <p>Staatlich geprüfter Bautechniker</p>
                        <p><a href="mailto:m.marxbauer@ib-behringer.de">m.marxbauer@ib-behringer.de</a></p>
                    </div>
                </div>
                
                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/gisela.webp') }}" alt="Gisela Huber">
                    </div>
                    <div class="team-member-info">
                       <h3>Gisela Huber</h3>
                        <p>Sachbearbeiterin<br>Sekretariat, Ausschreibungen</p>
                        <p><a href="mailto:huber@ib-behringer.de">huber@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/maria.webp') }}" alt="Maria Holzner">
                    </div>
                    <div class="team-member-info">
                       <h3>Maria Holzner</h3>
                        <p>Rechtsanwaltsgehilfin<br>Buchhaltung, Sekretariat</p>
                        <p><a href="mailto:m.holzner@ib-behringer.de">m.holzner@ib-behringer.de</a></p>
                    </div>
                </div>
                
                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/anita.webp') }}" alt="Anita Pfaffinger">
                    </div>
                    <div class="team-member-info">
                       <h3>Anita Pfaffinger</h3>
                        <p>Managementassistentin (IHK)<br>Sekretariat, Ausschreibungen</p>
                        <p><a href="mailto:a.pfaffinger@ib-behringer.de">a.pfaffinger@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/feuchtgruber.webp') }}" alt="Agnes Feuchtgruber">
                    </div>
                    <div class="team-member-info">
                       <h3>Agnes Feuchtgruber – B.A.</h3>
                        <p>Bauzeichnerin<br>Bachelor of Arts im Studiengang Bildungswissenschaft<br>CAD Konstruktion, GIS</p>
                        <p><a href="mailto:feuchtgruber@ib-behringer.de">feuchtgruber@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/mohammad.webp') }}" alt="Mohammad Mohammad">
                    </div>
                    <div class="team-member-info">
                       <h3>Mohammad Mohammad</h3>
                        <p>Bauzeichner<br>Unterstützung Projektabwicklung<br>GPS Vermessung</p>
                        <p><a href="mailto:m.mohammad@ib-behringer.de">m.mohammad@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/huber.webp') }}" alt="Viktoria Huber">
                    </div>
                    <div class="team-member-info">
                       <h3>Viktoria Huber</h3>
                        <p>Bauzeichnerin<br>CAD Konstruktion</p>
                        <p><a href="mailto:v.huber@ib-behringer.de">v.huber@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                        <img loading="lazy" src="{{ url_for('static', filename='images/team/guggenberger.webp') }}" alt="Stefan Guggenberger">
                    </div>
                    <div class="team-member-info">
                       <h3>Stefan Guggenberger</h3>
                        <p>Duales Studium Bauingenieurwesen<br>Ausbildung Bauzeichner abgeschlossen<br>Unterstützung Projektabwicklung</p>
                        <p><a href="mailto:s.guggenberger@ib-behringer.de">s.guggenberger@ib-behringer.de</a></p>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-member-image-wrapper">
                         <img loading="lazy" src="{{ url_for('static', filename='images/team/didkovska.webp') }}" alt="Katheryna Dikovska">
                    </div>
                    <div class="team-member-info">
                       <h3>Kateryna Didkovska</h3>
                        <p>Duales Studium Bauingenieurwesen<br>Unterstützung CAD Konstruktion</p>
                        <p><a href="mailto:k.didkovska@ib-behringer.de">k.didkovska@ib-behringer.de</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}